h1 {
  font-family: "sans-serif", Geneva;
  font-size: 35px;
  background-color: rgb(85, 216, 209);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

p {
  font-size: 25px;
  border: 2px solid;
  text-align: center;
}
